# python packages and duckdb added to path
export PATH="$HOME/.local/bin:$HOME/.duckdb/cli/latest:$HOME/.maestro/bin:$PATH"
export EDITOR=vim

# silent failure if key doesn't exist
command -v keychain >/dev/null 2>&1 && eval "$(keychain --eval --quiet ~/.ssh/id_ed25519 2>/dev/null || true)"

